html {
  overflow: hidden;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #d7dfeb;
}

/* .interim {
  background-color: #4f6278;
  border-radius: 5px;
} */

.final,
.interim {
  padding: 1px;
  height: fit-content;
}

.transcript {
  color: white;
  position: absolute;
  background-color: #0d7cf3;
  overflow: hidden;
  height: 8%;
  width: 50%;
  right: 10px;
  border-radius: 5px;
  padding: 6px;
  font-size: x-large;
  z-index: 4;
  box-sizing: border-box;
}

#localTranscript {
  position: relative;
  top: 5%;
  left: 10%;
  align-self: center;
  height: 80%;
  width: 80%;
}

#helpButton {
  background-color: #f30d0d;
  color: white;
  border-radius: 5px;
  padding: 6px;
  font-size: x-large;
  z-index: 4;
  box-sizing: border-box;
  position: relative;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 15%;
}

body {
  background-color: #141e29;
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
